<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<% errors.forEach((err) => { %>
		<p class="err-msg"> <%= err %> </p>
	<% }) %>

	<script type="text/javascript" src="/script.js"></script>
</body>
</html>