<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<a href="/new_post/" class="nav-item">Make a New Post</a>
	<a href="/dashboard/" class="nav-item">Dashboard</a>
	<a href="/search/" class="nav-item">Search</a>
	<a href="/user/profile/" class="nav-item">Profile</a>
	<a href="/user/settings/" class="nav-item">Settings</a>

	<script type="text/javascript" src="/script.js"></script>
</body>
</html>